name: Hello World CI

on:
  push:
    branches:
      - main


jobs:
  run-node-app:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run app
        run: node app.js
